<div class="gw-chat-card gw-attack-card">
  <h3>{{weaponName}}</h3>
  <div class="gw-card-meta">
    {{actorName}} &rarr; {{targetName}}
    {{#if distance}}&middot; {{distance}} m{{/if}}
    {{#if rangeLabel}}&middot; {{rangeLabel}}{{/if}}
  </div>
  <div class="gw-card-meta">
    Target {{hitTarget}}+{{#if attackBonus}} &middot; bonus {{gwSigned attackBonus}}{{/if}}
    {{#if targetAc}}&middot; defense {{targetAc}}{{/if}}
  </div>
  <div class="gw-card-result {{#if hit}}is-hit{{else}}is-miss{{/if}}">
    Roll: {{d20}}{{#if total}} (total {{total}}){{/if}} &mdash; {{#if hit}}HIT{{else}}MISS{{/if}}
  </div>
  {{#if notes}}
    <div class="gw-card-meta">{{notes}}</div>
  {{/if}}
  {{#if hit}}
    {{#if showFollowUp}}
    <div class="gw-card-actions">
      <button type="button" data-action="gw-roll-damage">{{#if followUpLabel}}{{followUpLabel}}{{else}}Roll Damage{{/if}}</button>
    </div>
    {{/if}}
  {{/if}}
</div>
